**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
string  = input("enter a string:")
i = 0

while i<len(string):
    i = i+1
print(i)

enter a string:laila
5

In [2]:
string = "laila"

print(len(string))

5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [4]:
s = input("Enter a string: ")

if len(s) <= 2:
    print("noooo")
else:
    print(s[0:2]+s[-2:] )

Enter a string: laila
lala

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [9]:
string  = input("enter a string:")
if len(string) < 3:
    result = string
elif string[-3:]== ('ing'):
    result = ''.join([string, 'ly'])
else:
    result = ''.join([string, 'ing'])
print(result)

enter a string:beautiful
beautifuling

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [10]:
list1 = ["breaking bad", "got", "prison break", "house of dragon"]

longestword = ""
maxlength = 0
index = 0


while index < len(list1):
    word = list1[index]

    if len(word) > maxlength:
        longestword = word
        maxlength = len(word)
    index += 1
print("Longest word:", longestword)
print("Length of the longest word:", maxlength)

Longest word: house of dragon
Length of the longest word: 15

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [11]:
s="indore"
s=s[:-6]+'H'+s[-5:]
s=s[:-1]+'h'
print(s)

Hndorh

In [12]:
s = "indore"
list1 = list(s)
list1[0] = 'H'
list1[-1] = 'h'
s = ''.join(list1)
print(s)

Hndorh

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [13]:
string = "abca"
result = ""
for i in range(len(string)):
    if i % 2 == 0:
        result += string[i]
print("Result using loop:", result)

Result using loop: ac

**7. You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [14]:
heros = ['spider man', 'thor', 'hulk', 'iron man', 'captain america']

length_of_list = len(heros)
print( length_of_list)

heros.append('black panther')
print("List after adding 'black panther':", heros)

heros.remove('black panther')
heros.insert(heros.index('hulk') + 1, 'black panther')
print("List after moving 'black panther' after 'hulk':", heros)
heros[1:3] = ['doctor strange']
print("List after replacing 'thor' and 'hulk' with 'doctor strange':", heros)
heros.sort()
print("Sorted list:", heros)

5
List after adding 'black panther': ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
List after moving 'black panther' after 'hulk': ['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
List after replacing 'thor' and 'hulk' with 'doctor strange': ['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
Sorted list: ['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [15]:
a = "laila"
print(a.upper())
a=a.upper()
print(a.lower())

LAILA
laila

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [17]:
string = input("Enter a string: ")

if len(string) % 4 == 0:
    print(string[::-1])
else:
    print(string)

Enter a string: sama
amas

**10- Write a Python program to remove a newline in Python

In [18]:
r = "Hello "

print(r.split(sep="Hello"))

['', ' ']

In [19]:
string = """laila kamal
laila kamal
laila kamal"""

prefix = ""
string_lines = string.splitlines()
index = 0

while index < len(string_lines):
    line = string_lines[index].strip()
    if line:
        print(prefix + line)
    else:
        print(line)

    index += 1

laila kamal
laila kamal
laila kamal

**11- Write a Python program to add prefix text to all of the lines in a string

**12-Write a Python program to print the following numbers up to 2 decimal places

ex:
Original Number:  3.1415926                                                                                   
Formatted Number: 3.14                                                                                        
Original Number:  12.9999                                                                                     
Formatted Number: 13.00

In [20]:
number = float(input("Enter a number: "))
formatted_number = f"{number:.2f}"
print(formatted_number)

Enter a number: 13.14591
13.15

**13-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [21]:
number = float(input("Enter a number: "))
formatted_number = f"{number:+.2f}"
print(formatted_number)

Enter a number: 1.02
+1.02

**14-Write a Python program to display a number with a comma separator

In [23]:
number = int(input("Enter a number: "))
formatted_number = "{:,}".format(number)
print(formatted_number)

Enter a number: 1269846856982
1,269,846,856,982

**15-Write a Python program to reverse a string using 2 ways

In [1]:
string=input("enter a string!")
print(string[::-1])

enter a string!FIER
REIF

**16-Write a Python program to remove spaces from a given string

In [ ]:
string = "FIER"
revstring = ''.join(reversed(string))
print( revstring)

In [ ]:
string = ' a aweg ttry  '

nospacesstring = string.replace(" ", "")

print(nospacesstring)

**17-write a Python program to swap first and last element of any list.

In [2]:
list1 = [1, 2, 3, 4, 5]


list1[0], list1[-1] = list1[-1],list1[0]


print( list1)

[5, 2, 3, 4, 1]

**18-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [3]:
list1 = [23, 65, 19, 90]


list1[0], list1[2] = list1[2],list1[0]


print( list1)

[19, 65, 23, 90]

**19- search for the all ways to know the length of the list

In [7]:

l=[6,89,744,484,99,894,41]
list1 =l
print(len(list1))

7

**20-write a Python code to find the Maximum number of list of numbers.

In [8]:
l=[6,89,744,484,99,894,41]
list1 =l
print(max(list1))

894

**21-write a Python code to find the Minimum number of list of numbers.

In [9]:
l=[6,89,744,484,99,894,41]
list1 =l
print(min(list1))

6

**22-search for if an elem is existing in list

In [10]:
list1 = [3, 7, 1, 9, 4, 6, 8, 2, 5]
elem =6


if elem in list1:

    print(" exists in the list at index .")
else:
    print(" does not exist in the list.")

 exists in the list at index .

**23- clear python list using different ways

In [11]:
list1 = [1, 2, 3, 4, 5, 6]
list1 = []
print(list1)

[]

In [15]:
list1=[1,2,3,4,5,6]
list1.clear()
print(list1)

[]

**24-remove duplicated elements from a list

In [3]:
list1 = [1,1, 2, 2, 3, 4, 4, 5,5, 6, 6]
list1 = list(set(list1))
print(list1)

[1, 2, 3, 4, 5, 6]

**25-write a python program to count unique values inside a list using different ways

In [4]:
list1 = [1,1, 2, 2, 3, 4, 4, 5,5, 6, 6]
list1 = list(set(list1))
print(list1)

[1, 2, 3, 4, 5, 6]

**26-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
???

**27-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output:  5)

In [ ]:
l = [1,2,2,3,4,5]

print(max(l))

In [6]:
list1 = [1, 2, 3, 4, 5]
strongest = list1[0]

index = 0

while index < len(list1) - 1:
    if list1[index] > strongest:
        strongest = list1[index]
    if list1[index + 1] > strongest:
        strongest = list1[index + 1]
    index += 1
print( strongest)

5

**28-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [7]:
input1 = [1, 2, 3]
n = len(input1)

for i in range(n):
    for j in range(n):
        if j == i:
            continue
        for k in range(n):
            if k == i or k == j:
                continue

            print(input1[i], input1[j], input1[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**29-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
ListInput = [1, 2, 3]
list1 = []
for i in range(len(ListInput)):
    list1.append(ListInput[i])
    print(list1, end=" ")
    list1 = []


i = 0
while i < len(ListInput) - 1:
    list1.append(ListInput[i])
    list1.append(ListInput[i + 1])
    print(list1, end=" ")
    list1 = []
    i += 1


list1.append(ListInput[0])
list1.append(ListInput[1])
list1.append(ListInput[2])
print(list1)
list1 = []

**30-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
List1 = ["a", "b"]
List2 = [1, 2]
combinations = [
    [(List1[0], List2[i]), (List1[1], List2[j])]
    for i in range(len(List2))
    for j in range(len(List2))
    if i != j
]

print( combinations)

**31- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [8]:
n = [1, 2, 3, 4, 5, 6]
sum1 = 10

index = []
for i in range(len(n)):
    for j in range(i + 1, len(n)):
        if n[i] + n[j] ==sum1:
           index.append((n[i], n[j]))

print (sum1, ":", index)

10 : [(4, 6)]

**32- I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [9]:
s = "maine 200 banana khaye"
news = s.replace('200', '10').replace('banana', 'samosa')
print(news)

maine 10 samosa khaye

**33.  You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [16]:
heros = ['spider man', 'thor', 'hulk', 'iron man', 'captain america']

length_of_list = len(heros)
print( length_of_list)

heros.append('black panther')
print("List after adding 'black panther':", heros)

heros.remove('black panther')
heros.insert(heros.index('hulk') + 1, 'black panther')
print("List after moving 'black panther' after 'hulk':", heros)
heros[1:3] = ['doctor strange']
print("List after replacing 'thor' and 'hulk' with 'doctor strange':", heros)
heros.sort()
print("Sorted list:", heros)

5
List after adding 'black panther': ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
List after moving 'black panther' after 'hulk': ['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
List after replacing 'thor' and 'hulk' with 'doctor strange': ['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
Sorted list: ['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']